body {
    padding: 10px;
}


.contain-img {
    object-fit: contain;
}

a {
    text-decoration: none;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user {
    font-weight: bold;

  }
  
  .date {
    color: #666;
  }
  
  .comment-text {
    font-size: 16px;
    margin: 0;
  }

  .listing-grid {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(320px, 350px));
    grid-gap: 24px;
    justify-content: space-around ;
  }

  .listing-img {
    max-height: 400px;
  }