body {
  font-family: arial, sans-serif;
}

#links {
  display: flex;
  justify-content: flex-end;
}

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  padding: 16px;
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

#googleWrapper {
  min-height: 150px;
  max-height: 290px;
  height: calc(100% - 560px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  max-height: 92px;
  position: relative;
}

#indexForm {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
}

#searchInput {
  display: flex;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(100% - 20px);
  max-width: 584px;
  padding-left: 16px;
}

#searchInput:hover,
#searchInput:focus-visible {
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
  outline: none;
}

center {
  padding-top: 16px;
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

input[type="submit"]:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadce0;
}
